body, p ,input {
  margin: 0;
  padding: 0;
}

.calculator {
  width: 420px;
  margin: 30px;
}

p {
  background-color: black;
  color: white;
  height: 30px;
  width: 100%;
  text-align: right;
  margin-bottom: 3px;
}

.buttons {
  display: flex;
  gap: 3px;
  margin-bottom: 3px;
}

.buttons>input {
  width: 25%;
  height: 30px;
  border-radius: 5px;
}

.action>input {
  width: 50%;
}